.btn {
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
  background-color: #f03e3e;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
