#result,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #212529;
  color: #ced4da;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;

  display: flex;
  flex-direction: column;
} 

.section-content {
  padding: 3.2rem 8rem;
  flex: 1;
}

.initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  height: 80vh;
  font-size: 2rem;
}

.isonline {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.vods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
}

.one-vod {
  border: 2px solid #555;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
  justify-content: space-between;
}

.favs-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image {
  display: block;
  width: 100%;
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.2rem;
  flex: 1;
}

.title {
  font-size: 2rem;
  line-height: 1.1;
  flex: 1;
  cursor: pointer;
  color: #ff6b6b;
}

.title:hover {
  color: #ffa8a8;
}

.text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 1.8rem;
  align-self: center;
}

.date {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date span {
  margin-left: 0.5rem;
}

.duration {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.duration span {
  margin-left: 0.5rem;
}

.icon {
  color: #ced4da;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.icon-fav {
  color: #ced4da;
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.icon-fav:hover,
.icon-fav:active {
  color: #f03e3e;
  cursor: pointer;
}

.fav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.del-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.nofavs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  height: 75vh;
  line-height: 1.5;
  padding: 6.4rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close {
  color: #f03e3e;
  float: right;
  font-size: 4.8rem;
  font-weight: 700;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: #ffa8a8;
  text-decoration: none;
  cursor: pointer;
}

/*************************************/
/* BELOW 1200px */
/*************************************/

@media (max-width: 75em) {
  html {
    font-size: 50%;
  }

  header {
    flex-direction: column;
    gap: 2rem;
  }

  .vods {
    grid-template-columns: 1fr 1fr;
  }

  .section-vods {
    padding: 3.2rem 6rem;
  }
}

/*************************************/
/* BELOW 544px */
/*************************************/
@media (max-width: 34em) {
  .section-vods {
    padding: 3.2rem 3.2rem;
  }

  .vods {
    grid-template-columns: 1fr;
  }
}
